DATABASE_NAME=''
DATABASE_USER=''
PASSWORD=''
HOST=''
PORT=''

SECRET_KEY=''

COMPANY_NAME=''
COMPANY_COPYRIGHT=''
COMPANY_ADDRESS=''
COMPANY_PHONE=''
COMPANY_EMAIL=''
COMPANY_WEBSITE=''
COMPANY_LOGO=''
COMPANY_FAVICON=''
COMPANY_LOGO_TEXT=''
COMPANY_LOGO_MINI=''
COMPANY_STARTING_YEAR=''

PRIMARY_COLOR='#000000'
SECONDARY_COLOR='#000000'
BUTTON_COLOR='#000000'
TEXT_COLOR='#000000'

REACT_DOMAIN=''
DOMAIN=''

EMAIL_FROM=''
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
EMAIL_HOST=''

REDIS_HOST=''
REDIS_PORT=''

GHL_CLIENT_ID=''
GHL_CLIENT_SECRET=''
